.color-card {
  &.horizontal {
    .main-card-section-content {
      > div {
        padding: 0 16px;
        box-sizing: content-box;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &.vertical {
    .main-card-section-content {
      > div {
        padding: 16px 0;
        box-sizing: content-box;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  &#primary-card {
    flex: 1;

    .main-card-section {
      height: 100%;

      .color,
      .color-preview {
        flex: 1;
      }
    }
  }

  &#secondary-card {
    .color {
      width: 320px;
    }
  }

  &#special-card {
    .color {
      flex: 1;
    }
  }
}
