#primary-card {
  .main-card-section {
    height: 100%;
  }

  .main-card-section-content {
    > div {
      padding: 16px 0;
      box-sizing: content-box;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  flex: 1;
  .color,
  .color-preview {
    flex: 1;
  }
}
