.content-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card-header {
    height: 32px;
    display: flex;
    align-items: center;

    h3 {
      opacity: 0.5;
      font-weight: 400;
      flex: 1;
    }
  }
}
