%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-icon {
  @extend %flex-center;
  padding: 16px 0;
  position: relative;

  .icon-hook {
    background-color: var(--primary-color);
    width: 6px;
    height: 24px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 0 50% 50% 0;
  }

  &.active .icon-hook {
    opacity: 1;
  }

  a {
    @extend %flex-center;
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 12px;
    color: #fff;
    border: none;
    padding: 0;
    cursor: default;
    background-color: var(--primary-color);

    &:hover {
      transform: scale(1.05);
      &:active {
        transform: scale(1);
      }
    }

    &.active {
      outline: 2px solid rgba($color: #fff, $alpha: 0.75);
    }
  }
}
