#profile-section {
  // border-bottom: 2px solid;
  .ant-divider {
    width: 66%;
    margin: 0 auto;
    min-width: 0;
  }
}

@media (prefers-color-scheme: dark) {
  #profile-section {
    background-color: "#1E2126";
    border-bottom-color: #0f1319;
  }
}

@media (prefers-color-scheme: light) {
  #profile-section {
    background-color: #fdfdfd;
    background-color: #fafafa;
    background-color: #fff;
    border-bottom-color: #dedede;
  }
}
