.header-with-options .open {
  button {
    opacity: 0.5;
    &:last-child {
      opacity: 1;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;

  .color-actions button {
    opacity: 0;
  }
}

.header-hover:hover {
  header {
    .color-actions button {
      opacity: 0.5;
    }
  }
}
