.color {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h4 {
    font-size: 18px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
    opacity: 0.5;
  }

  .color-preview {
    height: 112px;
    border-radius: 20px;
    outline: 8px solid;
    padding: 16px;
    display: flex;
    align-items: end;

    span {
      font-size: 18px;
      font-weight: 800;
      font-family: "JetBrains Mono";

      &.dark {
        color: #000;
      }
      &.light {
        color: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .color {
    .color-preview {
      outline-color: #0f1319;
    }
  }
}

@media (prefers-color-scheme: light) {
  .color {
    .color-preview {
      outline-color: #fff;
    }
  }
}
