#primary-card .color {
  max-width: none;
}

.color {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 186px;
  max-width: 320px;
  // padding: 0 16px;

  .ant-typography-edit-content {
    inset-inline-start: 0;

    textarea {
      border: none;
      font-size: inherit;
      padding: 0;
      font-weight: inherit;
      min-height: 0;
      line-height: inherit;
    }
  }

  h4,
  .ant-typography-h4.ant-typography-edit-content {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    height: 25px;
    flex: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;

    .color-actions button {
      opacity: 0;
    }
  }

  &:hover {
    header {
      .color-actions button {
        opacity: 0.5;
      }
    }
  }

  .ant-typography:not(h4, .ant-typography-h4) {
    font-size: 14px;
    opacity: 0.5;
    inset-inline-start: 0;
    margin: 0;
  }

  .ant-typography {
    cursor: pointer;
  }

  .color-preview {
    height: 112px;
    border-radius: 16px;
    outline: 8px solid;
    padding: 16px;
    display: flex;
    align-items: end;

    span {
      font-size: 18px;
      font-weight: 800;
      font-family: "JetBrains Mono";

      &.dark {
        color: #000;
      }
      &.light {
        color: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .color {
    .color-preview {
      outline-color: #0f1319;
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
  }
}

@media (prefers-color-scheme: light) {
  .color {
    .color-preview {
      outline-color: #fff;
      background-color: rgba($color: #000, $alpha: 0.2);
    }
  }
}
