#github-button {
  background-color: #171515;
  color: #fff;
}

.oauth-card > div {
  height: 100%;

  .main-card-sections-scroll > div {
    display: flex;
    justify-content: space-between;
  }
  .main-card-section .main-card-section-content {
    display: block;
  }
}
