.auth-card .content-card {
  display: flex;
  flex-direction: row;
  gap: 0;

  #block {
    aspect-ratio: 1;
    background: linear-gradient(135deg, #ff1818, #1e2126);
    height: 333px;
  }

  form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

    .ant-form-item:last-child {
      margin-bottom: 0;
    }
  }
}
