#login-card .main-card,
#register-card .main-card {
  display: flex;
  flex-direction: row;
  gap: 0;

  #block {
    aspect-ratio: 1;
    background: linear-gradient(135deg, var(--primary-color), #1e2126);
    height: 333px;
    border-radius: 6px 0 0 6px;
  }

  .main-card-sections-scroll {
    display: flex;
    flex-direction: row;
  }

  form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;

    .ant-form-item:last-child {
      margin-bottom: 0;
    }
  }
}
