#theme-card {
  height: min-content;
  .main-card-section-content {
    > div {
      padding: 0 16px;
      box-sizing: content-box;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
