#main-aside {
  width: 86px;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  // border-right: 2px solid;
}

@mixin dark-theme {
  #main-aside {
    background-color: #1c1b22;
  }
}

@mixin light-theme {
  #main-aside {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .auto-theme {
    @include dark-theme;
  }
}

.dark-theme {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    @include light-theme;
  }
}

.light-theme {
  @include light-theme;
}
