.nav-button {
  display: flex;
  gap: 16px;
  padding: 8px 16px 8px 12px;
  height: auto;
  cursor: default;

  .ant-btn-icon {
    margin: 0 !important;
  }

  &.active {
    background-color: #3e4045;
    color: #fff;
  }
}

@mixin dark-theme {
  .nav-button {
    color: #898a8d;
    &.active {
      background-color: #3e4045;
      color: #fff;
    }
  }
}

@mixin light-theme {
  .nav-button {
    color: #898a8d;
    &.active {
      background-color: #f0f0f0;
      color: #000;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .auto-theme {
    @include dark-theme;
  }
}

.dark-theme {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    @include light-theme;
  }
}

.light-theme {
  @include light-theme;
}
