%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-icon {
  @extend %flex-center;
  height: 64px;
  // background-color: #1c1b22;
  position: relative;

  .icon-hook {
    width: 6px;
    height: 24px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 0 50% 50% 0;
  }

  &:hover .icon-hook {
    opacity: 0.5;
  }

  &:hover.active .icon-hook.light {
    background-color: #fff !important;
  }

  &:hover.active .icon-hook.dark {
    background-color: #000 !important;
  }

  a {
    @extend %flex-center;
    --size: 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    user-select: none;
    transition:
      all 0.1s,
      transform 0.05s;
    border: none;
    padding: 0;
    cursor: default;

    span {
      font-size: 16px;
      box-sizing: border-box;

      &.dark {
        color: #000;
      }
      &.light {
        color: #fff;
      }
    }
  }

  &:not(.active) a {
    cursor: default;

    &:hover {
      transform: scale(1.05);
      &:active {
        transform: scale(1);
      }
    }
  }

  &.active a {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
