#nav-header {
  border-bottom: 2px solid;

  #nav-header-wrapper {
    height: 116px;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), #ffffff00);
    }

    > div {
      box-sizing: border-box;
      position: relative;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      padding: 24px 32px;

      > span {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #nav-header {
    background-color: black;
    border-bottom-color: black;

    #nav-header-wrapper {
      background: #b83536;
      background: linear-gradient(135deg, #ff1818, #1e2126);

      > div {
        background: #ff1818;
        background: linear-gradient(135deg, #ff1818, #1e2126);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  #nav-header {
    background-color: #dedede;
    border-bottom-color: #dedede;

    #nav-header-wrapper {
      background: #b83536;
      background: linear-gradient(135deg, #ff1818, #1e2126);

      > div {
        background: #ff1818;
        background: linear-gradient(135deg, #ff1818, #1e2126);
      }
    }
  }
}
