#nav-header {
  #nav-header-wrapper {
    height: 116px;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    padding: 2px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), #ffffff00);
    }

    > div {
      box-sizing: border-box;
      position: relative;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      padding: 24px 32px;

      > span {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

@mixin dark-theme {
  #nav-header {
    #nav-header-wrapper {
      background: linear-gradient(135deg, var(--primary-color), #1e2126);

      > div {
        background: linear-gradient(135deg, var(--primary-color), #1e2126);
      }
    }
  }
}

@mixin light-theme {
  #nav-header {
    #nav-header-wrapper {
      background: linear-gradient(135deg, var(--primary-color), #1e2126);

      > div {
        background: linear-gradient(135deg, var(--primary-color), #1e2126);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .auto-theme {
    @include dark-theme;
  }
}

.dark-theme {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    @include light-theme;
  }
}

.light-theme {
  @include light-theme;
}
