#header {
  height: 50px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #header {
    background-color: #1c1b22;
  }
}

@media (prefers-color-scheme: light) {
  #header {
    background-color: #fff;
  }
}
