.overview-colors {
  overflow: visible;

  .flex-vertical,
  .flex-horizontal {
    overflow: visible;
  }

  .flex-vertical,
  .color {
    flex: 1;
  }

  .primary-div {
    flex: 0 1 auto;

    .color {
      height: 512px;
      width: 512px;
    }
  }

  .secondary-div {
    flex-wrap: wrap;
    max-height: 512px;
    height: 100%;

    .color {
      max-width: 256px;
    }
  }

  .special-div {
    .color {
      max-width: 256px;
    }
  }
}
