.overview-colors {
  overflow: visible;

  .flex-vertical,
  .flex-horizontal {
    overflow: visible;
  }

  .primary-div {
    .color {
      width: 100%;
      max-width: none;
      height: 256px;
    }
  }

  .secondary-div {
    flex-wrap: wrap;
    height: 100%;

    .color {
      max-width: none;
      flex: 1;
    }
  }

  .special-div {
    flex-wrap: wrap;
    height: 100%;
  }
}

#overview .flex-vertical > .main-card:last-child {
  flex: 1;
}

.overview-themes {
  overflow: visible;
}
