#new-project {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: none;
}

@mixin dark-theme {
  #new-project {
    background-color: rgba($color: #fff, $alpha: 0.025);

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.05);
    }
    svg {
      stroke: #fff;
    }
  }
}

@mixin light-theme {
  #new-project {
    background-color: rgba($color: #000, $alpha: 0.025);

    &:hover {
      background-color: rgba($color: #000, $alpha: 0.05);
    }
    svg {
      stroke: #000;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .auto-theme {
    @include dark-theme;
  }
}

.dark-theme {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    @include light-theme;
  }
}

.light-theme {
  @include light-theme;
}
