#new-project {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: none;
}

@media (prefers-color-scheme: dark) {
  #new-project {
    background-color: rgba($color: #fff, $alpha: 0.025);

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.05);
    }
    svg {
      stroke: #fff;
    }
  }
}

@media (prefers-color-scheme: light) {
  #new-project {
    background-color: rgba($color: #000, $alpha: 0.025);

    &:hover {
      background-color: rgba($color: #000, $alpha: 0.05);
    }
    svg {
      stroke: #000;
    }
  }
}
